@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rock+Salt&display=swap');
#content {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
}
nav {
    text-align: center;
    color: black;
    padding: 10px;
    background: #e2a3c7;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding-top: 35px;
}
#hero-msg h1, #hero-msg h4 {
     text-align: center
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header{
    background-color:#a8dcd9
}
nav a:hover {
    background-color: #60435F;
    color: aqua;
}
.home-title {
    color: #e2a3c7;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #60435F;
}
.book, .join{
    background-color: #60435F;
    color: white; 
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{    
    background-color: black;
    color: #e2a3c7;
}
.msg h2 {
    color: #60435F;
}
.msg p {
    color: blueviolet;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color: black
}
footer a {
    color: antiquewhite;
    text-decoration: none;
}
footer a:hover {
    color: blue; 
}
#background{
    background-color: #fdf7fa;
}
.msg{
    background-color: #a8dcd9;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #e2a3c7;
    padding: 25px 50px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
footer h3 a:hover {
    text-decoration: underline;
}
h2{
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
    margin-top: 200px;
}
rivers-card, camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}